<div>
    <div style="margin: 0 auto; width: 295px; padding: 16px; border-radius: 8px;box-shadow: 0 4px 8px 0 rgba(76, 79, 84, 0.16);">
        <h1 style="font-size: 24px; line-height: 24px; color: #0146ab; margin-bottom: 8px">{{.DiseaseName}}</h1>
        <div style="font-size: 12px; color: #4c4f54; line-height: 12px; padding-top: 4px; padding-bottom: 8px;border-bottom: 1px solid rgba(76, 79, 84, 0.16)">{{.DiseaseDesc}}</div>
        <div style="font-weight: bold; font-size: 12px; color: {{.AccuracyColor}}; padding-top: 8px; padding-bottom: 8px; border-bottom: 1px solid rgba(76, 79, 84, 0.16)">{{.DiseaseAccuracy}}</div>
        <div style="color: #707070; font-size: 12px; padding-top: 8px; padding-bottom: 8px; font-weight: bold; border-bottom: 1px solid rgba(76, 79, 84, 0.16)">
            <i class="fas fa-exclamation-circle"></i>
            {{.DiseasePrognosis}}
        </div>
    </div>
</div>